{
  "bridge": {
    "name": "Homebridge Pi5",
    "username": "CC:22:3D:E3:CE:30",
    "port": 51826,
    "pin": "031-45-154"
  },
  "accessories": [],
  "platforms": [
    {
      "name": "Config",
      "port": 8581,
      "platform": "config"
    }
  ]
}