# Managed by Ansible
# Subject Alternative Names for the K3s API server certificate
# Ensure names you access the API with are listed here.
# Example includes mDNS .local and hostname.
tls-san:
{% for san in k3s_tls_sans %}
  - {{ san }}
{% endfor %}

# Enable built-in components for ingress support
# Traefik (ingress) and servicelb enabled to support K8s ingress for Docker services
